<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/bulma">
  <script src="https://unpkg.com/petite-vue-csp"></script>
  <script src="https://unpkg.com/localforage"></script>
  <script src="./without-server.js"></script>
  <!-- <script src="./with-server.js"></script> -->
  <title>서버 개발자 과제</title>
</head>
<body>
  <div id="app" @vue:mounted="mounted">
    <div class="container is-fluid">
      <div class="box">
        <div class="is-flex is-justify-content-flex-end">
          <button class="button is-small is-warning" @click="resetAllData">데이터 초기화</button>
        </div>
        <div class="columns">
          <div class="column is-2">
            <label class="label">고정 확장자</label>
          </div>
          <div class="column is-10">
            <label v-for="ext in allFixedExtList" :key="ext" class="checkbox">
              <input type="checkbox" :value="ext" :checked="fixedExtList.includes(ext)" @change="onCheckboxChanged(ext, $event.target.checked)">
              <span class="mr-2">{{ ext }}</span>
            </label>
          </div>
        </div>
        <div class="columns">
          <div class="column is-2">
            <label class="label">커스텀 확장자</label>
          </div>
          <div class="column is-10">
            <div class="field has-addons">
              <p class="control is-expanded">
                <input
                  :value="inputCustomExt"
                  type="text"
                  class="input is-small"
                  placeholder="확장자 입력"
                  @input="onCustomExtInputChanged"
                  @keydown.enter="addCustomExt(inputCustomExt)"
                >
              </p>
              <p class="control">
                <a class="button is-small is-dark" @click.prevent="addCustomExt(inputCustomExt)">
                  + 추가
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-offset-2 is-10">
            <div class="box" style="min-height:300px">
              <span class="subtitle is-size-7 is-block mb-2">{{ customExtList.length }}/{{ maxCustomExtListCount }}</span>
              <div class="field is-grouped is-grouped-multiline">
                <div v-for="ext in customExtList" :key="ext" class="control">
                  <div class="tags has-addons">
                    <span class="tag is-light">{{ ext }}</span>
                    <a class="tag is-delete" @click.prevent="removeCustomExt(ext)"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // without-server 로직
    const {
      getParsedExt,
      isValidExtInClient: isValidExt,
      init,
      getConfig,
      getAllFixedExtList,
      getFixedExtList,
      getCustomExtList,
      insertFixedExt,
      insertCustomExt,
      removeFixedExt,
      removeCustomExt,
    } = window.WithoutServer
    // } = window.WithServer
    PetiteVue.createApp({
      /* constants */
      // 확장자 최대 길이
      maxCustomExtLength: -1,
      // 최대 커스텀 확장자 리스트 수
      maxCustomExtListCount: -1,

      /* data */
      // 전체 고정 확장자 리스트
      allFixedExtList: [],
      // 고정 확장자 리스트
      fixedExtList: [],
      // 커스텀 확장자 리스트
      customExtList: [],

      /* form data */
      inputCustomExt: '',
      // lifecycle methods
      async mounted() {
        // 서버로부터 받아온 값을 component에 설정
        const config = await getConfig()
        this.maxCustomExtLength = config.maxCustomExtLength
        this.maxCustomExtListCount = config.maxCustomExtListCount
        this.allFixedExtList = await getAllFixedExtList()
        this.fixedExtList = await getFixedExtList()
        this.customExtList = await getCustomExtList()
      },
      // methods
      /**
       * 확장자의 유효성 체크 및 정리된 값 리턴
       * @param rawExt {string} 확장자
       * @returns {string | Error} 정리된 확장자 값 또는 오류
       */
      getValidExt(rawExt) {
        const { maxCustomExtLength, fixedExtList, customExtList } = this

        const ext = getParsedExt(rawExt)
        const valid = isValidExt(ext, { maxCustomExtLength, fixedExtList, customExtList })
        if (!valid.result) {
          throw new Error(valid.message)
        }

        return ext
      },
      /**
       * 고정 확장자를 추가
       * @param rawExt {string} 추가할 확장자
       */
      async addFixedExt(rawExt) {
        const { allFixedExtList } = this
        const { getValidExt } = this
        try {
          // 1. 유효성 체크
          const ext = getValidExt(rawExt)
          if (!allFixedExtList.includes(ext)) {
            throw new Error('추가할 수 있는 고정 확장자가 아닙니다.')
          }

          // 2. DB에 처리 요청
          await insertFixedExt(ext)

          // 3. 처리 결과를 반영
          // 3-1. 단순 보여주기
          // this.fixedExtList = this.fixedExtList.concat(ext).slice().sort() /* 정렬 */
          // 3-2. 실제 재조회
          this.fixedExtList = await getFixedExtList()
        } catch(e) {
          this.onErrorHandle(e)
        }
      },
      /**
       * 고정 확장자를 삭제
       * @param ext {string} 삭제할 확장자
       */
      async removeFixedExt(ext) {
        const { fixedExtList } = this
        try {
          // 1. 유효성 체크
          if (!fixedExtList.includes(ext)) {
            throw new Error('값을 삭제할 수 없습니다.')
          }

          // 2. DB에 처리 요청
          await removeFixedExt(ext)

          // 3. 처리 결과를 반영
          // 3-1. 단순 보여주기
          // this.fixedExtList = this.fixedExtList.filter(curExt => curExt !== ext).slice().sort() /* 정렬 */
          // 3-2. 실제 재조회
          this.fixedExtList = await getFixedExtList()
        } catch(e) {
          this.onErrorHandle(e)
        }
      },
      /**
       * 커스텀 확장자를 추가
       * @param rawExt {string} 추가할 확장자
       */
      async addCustomExt(rawExt) {
        const { allFixedExtList, customExtList, maxCustomExtListCount } = this
        const { getValidExt, addFixedExt } = this
        try {
          // 1. 유효성 체크
          const ext = getValidExt(rawExt)
          if (allFixedExtList.includes(ext)) {
            // Note: 고정 확장자의 값을 커스텀 확장자에서 입력(체크)하도록 처리
            addFixedExt(ext)
          } else {
            if (customExtList.length >= maxCustomExtListCount) {
              throw new Error('더이상 추가할 수 없습니다.')
            }
            // 2. DB에 처리 요청
            await insertCustomExt(ext)
            
            // 3. 처리 결과를 반영
            // 3-1. 단순 보여주기
            // this.customExtList = this.customExtList.concat(ext)
            // 3-2. 실제 재조회
            this.customExtList = await getCustomExtList()
          }
          // 4. 입력값 초기화
          this.inputCustomExt = ''
        } catch(e) {
          this.onErrorHandle(e)
        }
      },
      /**
       * 커스텀 확장자를 삭제
       * @param ext {string} 삭제할 확장자
       */
      async removeCustomExt(ext) {
        const { customExtList } = this
        try {
          // 1. 유효성 체크
          if (!customExtList.includes(ext)) {
            throw new Error('값을 삭제할 수 없습니다.')
          }

          // 2. DB에 처리 요청
          await removeCustomExt(ext)

          // 3. 처리 결과를 반영
          // 3-1. 단순 보여주기
          // this.customExtList = this.customExtList.filter(curExt => curExt !== ext)
          // 3-2. 실제 재조회
          this.customExtList = await getCustomExtList()
        } catch(e) {
          this.onErrorHandle(e)
        }
      },
      /**
       * 전체 데이터 초기화(테스트용)
       */
      async resetAllData() {
        const { value } = await new Promise((resolve) => {
          resolve({ value: window.confirm('모든 값이 초기값으로 초기화됩니다. 진행할까요?') })
        })
        if (!value) return
        
        init()
        this.mounted()
      },
      /* events */
      /**
       * 인풋 값이 변경될 때 이벤트 처리
       */
      onCustomExtInputChanged(event) {
        const value = event.target?.value
        /* FIXME: 허용 문자 등 예외 처리는 여기서 처리 가능 */
        const parsedValue = value.substring(0, this.maxCustomExtLength)
        this.inputCustomExt = parsedValue
        event.target.value = parsedValue
      },
      /* events */
      /**
       * 고정 확장자 체크박스를 변경할 때 이벤트 처리
       * @param value {string?}
       * @param doInsert {boolean}
       */
      onCheckboxChanged(value, doInsert) {
        // console.log('onCheckboxChanged', arguments)
        const { addFixedExt, removeFixedExt } = this
        if (doInsert) {
          addFixedExt(value)
        } else {
          removeFixedExt(value)
        }
      },
      /**
       * 에러 발생 시 이벤트 핸들링
       * @param err {Error}
       */
      onErrorHandle(err) {
        const message = err?.message || '오류가 발생했습니다.'
        window.alert(message)
        throw err
      }
    }).mount('#app')
  </script>
</body>
</html>